<h1>All Items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.title, item_path(item.id) %> -
      <%= link_to "Edit", edit_item_path(item.id) %> -
      <%= link_to "Delete", item_path(item.id), :method => "delete", :confirm => "Are you sure?" %>
    </li>
  <% end %>
</ul>